div.main_contact {
    width: 100%;
    height: 431px;
    background: #FFFBF8;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h3 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 6.96px;
    }

    p.para1 {
        color: rgba(0, 0, 0, 0.70);
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;  
        
        margin-top: -55px;
    }

    div.contact_box {
        width: 800px;
        height: 101px;
        flex-shrink: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        // outline: 3px solid blue;

        div.paragraphs {
            width: 200px;
            height: 77px;
            flex-shrink: 0;            

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            p {
                color: #000;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                
                margin: 0;
            }

            span {
                margin-right: 20px;
            }
        }

        div.inputs {
            width: 400px;
            height: 101px;
            flex-shrink: 0;            

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-around;
            
            input {
                // color: rgba(0, 0, 0, 0.50);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;  
                
                padding-left: 15px;
                box-sizing: border-box;
            }

            input:nth-of-type(1) {
                width: 190px;
                height: 43px;
                flex-shrink: 0;            
                border: 0.3px solid #000;
                background: #FFF;                    
            }

            input:nth-of-type(2) {
                width: 190px;
                height: 43px;
                flex-shrink: 0;            
                border: 0.3px solid #000;
                background: #FFF;                    
            }

            input:nth-of-type(3) {
                width: 100%;
                height: 43px;
                flex-shrink: 0;        
                border: 0.3px solid #000;
                background: #FFF;                    
            }
        }
    }

    button {
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        width: 75px;
        height: 37px;
        flex-shrink: 0;
        background: #000;    
        
        position: relative;
        top: -58px;
        left: 361px;
    }
}


@mixin screen320 {
    div.main_contact {
        height: auto;
        box-sizing: border-box;
        padding: 20px 0 30px 15px;
        
        justify-content: flex-start;
        align-items: flex-start;

        h3 {
            margin-bottom: 5px;
        }

        p.para1 {
            margin: 0 0 20px 0;
        }

        div.contact_box {
            width: 95%;
            height: auto;

            box-sizing: border-box;

            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;
            
            div.inputs {
                width: 100%;
                height: auto;

                justify-content: flex-start;
                align-content: stretch;

                input {
                    margin-bottom: 10px;

                    &:nth-of-type(1) {
                        width: 100%;
                    }

                    &:nth-of-type(2) {
                        width: 100%;
                    }

                    &:nth-of-type(3) {
                        width: 100%;
                    }
                }
            }
        }

        button {
            position: static;
            top: 0;
            left: 0;

            margin-top: 20px;

            align-self: center;
        }
    }
}


@mixin screen768 {
    div.main_contact {
        align-items: center;

        button {
            align-self: auto;
        }
    }
}


/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    @include screen320;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    @include screen320;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    @include screen320;
    @include screen768;
} 



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1535px) {

} 

