div.main_map {
    width: 100%;
    height: 70vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@mixin screen320 {
    div.main_map {
        display: none;
    }
}   


/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    @include screen320;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    @include screen320;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    @include screen320;
} 



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1535px) {

} 

