div.main_tour {
    width: 100%;
    // height: 800px;
    // box-sizing: border-box;
    padding: 50px 0 75px 0;

    background: #0B0B0B;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    div.box1 {
        width: 850px;
        height: 320px;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        // outline: 3px solid blue;

        h3 {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        p {
            color: rgba(255, 255, 255, 0.60);
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

        ul {
            width: 100%;
            height: 140px;
            flex-shrink: 0;

            padding-left: 0;

            li {
                width: 100%;
                height: 45px;
                flex-shrink: 0;
                border: 0.5px solid rgba(0, 0, 0, 0.50);
                background: #FFF;

                position: relative;
                padding-left: 20px;
                box-sizing: border-box;

                display: flex;
                align-items: center;

                color: rgba(0, 0, 0, 0.70);
                text-align: center;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                span.soldout {
                    width: 75px;
                    height: 22px;
                    flex-shrink: 0;
                    background: #F04444;

                    margin-left: 20px;

                    color: #FFF;
                    text-align: center;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                } 

                span.ticket_left {
                    flex-shrink: 0;

                    position: absolute;
                    right: 30px;
                    
                    p {
                        color: #FFF;
                        text-align: center;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        z-index: 2;
                    }

                    svg {
                        position: absolute;
                        z-index: 1;
                    }
                }
            }
        }
    }

    div.tickets {
        width: 850px;
        // height: 454px;
        flex-shrink: 0;

        // outline: 3px solid red;

        display: flex;
        justify-content: space-between;
    }
    
}

@mixin screen320 {
    div.main_tour {
        div.box1 {
            width: 95vw;

            h3 {
                margin-bottom: 0;
            }
        }

        div.tickets {
            width: 95vw;

            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 35px;
        }
    }
}


/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    @include screen320;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    @include screen320;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    @include screen320;
} 



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1535px) {

} 


