div.main_navbar {
    width: 100%;
    height: 40px;

    position: relative;

    a {
        text-decoration: none;

        transition-duration: 0.4s;
        transition-property: all;
    }

    div.normal {
        width: 100%;
        height: 40px;
        background: #000;

        z-index: 100;    // navigation bar display priority
        position: fixed;
        top: 0px;
        left: 0px;

        display: flex;
        align-items: center;


        a {
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    
            display: flex;
            justify-content: center;
            align-items: center;

            width: 90px;
            height: 100%;
    
            &:hover {
                color: black;
                background-color: rgb(198, 198, 198);
            }
        }

        i {
            transform: scale(0.9, 0.9);
            flex-shrink: 0; 
            color: #FFF;
    
            position: absolute;
            right: 30px;
        }

        div.dropdown_more {
            width: 200px;
            height: 180px;
            flex-shrink: 0;
            border: 2px solid #000;
            background-color: white;
    
            position: absolute;
            top: 40px;
            left: 358px;
            visibility: hidden;
    
            display: flex;
            flex-direction: column;
    
            a {
                width: 100%;
                height: 60px;
                padding: 0 0 0 20px;
                box-sizing: border-box;
                color: black;
            
                display: flex;
                justify-content: flex-start;
                align-items: center;
    
                &:hover {
                    color: white;
                    background-color: grey;
                }
            }
        }
    }

    div.collapse {
        width: 100%;
        height: 40px;
        background: #000;
        z-index: 100;
        
        // outline: 3px solid red;

        box-sizing: border-box;
        padding: 0 15px 0 15px;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        display: none;

        i {
            color: #FFF;

            &:hover {
                cursor: pointer;
            }
        }
        
        a {
            width: 100%;
            height: 40px;
            padding-left: 20px;
            box-sizing: border-box;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    
            &:hover {
                color: black;
                background-color: rgb(198, 198, 198);
            }
        }

        div.menu_collapse {
            width: 300px;
            height: 100vh;
            background: #000;

            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            i {
                width: 50px;
                height: 50px;
                padding-left: 20px;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                transform: scale(1.2, 1.2);

                // outline: 3px solid red;
            }
        }

        div.menu_more {
            width: 300px;
            height: 100vh;
            background: #000;
            z-index: 101;

            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            i {
                width: 50px;
                height: 50px;
                padding-left: 20px;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                transform: scale(1.1, 1.1);
            }
        }
    }

}



// Transition
.menu_collapse_transition {
    transition: all 0.6s;
    opacity: 0.5;
    visibility: hidden;
    transform: translateX(-100%);

    &.menu_collapse_transition_open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}



/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599px) {
    div.main_navbar {
        div.normal {
            display: none;
        }

        div.collapse {
            display: flex;
        }
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    div.main_navbar {
        div.normal {
            display: none;
        }

        div.collapse {
            display: flex;
        }
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    div.main_navbar {
        div.normal {
            display: none;
        }

        div.collapse {
            display: flex;
        }
    }
} 



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1535px) {

} 

